h1 Your Cart
= link_to "Delete cart", cart_path, method: :delete, class: "btn btn-sm btn-link" 

= render partial: "cart", locals: { cart: @cart }

= link_to "Keep shopping", products_path, class: "btn btn-success"

/ = link_to "Checkout", "#", class: "btn btn-danger" unless @cart.empty?

- if @cart.empty?
  = link_to "Checkout", checkout_cart_path, class: "btn btn-danger disabled"
-else
  = link_to "Checkout", checkout_cart_path, class: "btn btn-danger"